body{
  background-color: #F6FAFD;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6FAFD;
    width: 100%;
    height: 64px; 
  }
  .navbar_logo {
    width: 100px;
    height: 100px;
   margin-left: 70px;
    float: right;
  }

  .navbar_info{
    list-style-type: none;
    text-decoration: none;
    
  }


.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown_content{
  display: none;
  position: absolute;
  background-color: #f8f6f6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.drop_button:hover{
    cursor: pointer;
  }

 .download_first{
  background-color: white;
  color: #F9556E;
  text-align: center;
  border-radius: 20px;
  border: solid;
  border-color: #F9556E;
  font-size: 15px;
  padding: 5px 10px;
  transition-duration: 0.5s;
}  

.dropdown:hover .dropdown_content {display: block;}
.dropdown:hover .drop_button { background-color: #ffffff;}
.dropdown_content a:hover {background-color: #ddd;}

.button_apple{
  background-color: #F9556E;
  color: white;
  text-align: center;
  border-radius: 20px;
  border: solid;
  border-color: #F9556E;
  font-size: 15px;
  padding: 10px 30px;
  transition-duration: 0.5s;
}

.button_apple:hover{
  background-color: white;
  color: #F9556E;
  border-color:  #F9556E;
}

.button_play{
  background-color: #F9556E;
  color: white;
  text-align: center;
  border-radius: 20px;
  border: solid;
  border-color: #F9556E;
  margin: 0px;
  font-size: 15px;
  padding: 10px 30px;
  transition-duration: 0.5s;
}

.button_play:hover {
  background-color: white;
  color: #F9556E;
  border-color:  #F9556E;
}
  .title_one{
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 50px;
  
  }

  .pheader{
    text-align: justify;
    line-height: 1.5;
  }
    

  ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    line-height: 1.5;
    gap: 30px;
  }

  li{
    display: inline;
    justify-content: center;
  }
  

h1{
  display: flex;
  align-content: center;
  justify-content: center;
}

.pheader{
  display: flex;
  justify-content: center;
  margin: 30px 80px 20px 80px;
}


.two_download{
  display: flex;
  justify-content: center;
  gap: 10px
  ;
}

.iphone{
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
}

.iconos_usuario{
  display: flex;
  justify-content: center;
  gap: 50px;
  align-content:space-between;
}

.user{
  background-color: #EBE7FA;
  fill: #AA7EEC;
  height: 50px;
  width: 50px;
}

.situation_analysis{
  fill: #1ACA94;
  background-color: #DAF4EF;
  height: 50px;
  width: 50px;
}
.gear{
  fill: #FF566E;
  background-color: #F8E5EA;
  height: 50px;
  width: 50px;
}

.comments{
  fill: #FFB30F;
  background-color:#F8F1DE ;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #F8F1DE;
  
}

.rocket{
  fill: #4FB9E8;
  background-color: #E1F2FA;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: #E1F2FA;
}

.text_1{
  text-align: justify;
}

.img_menu{
  float: left;
  width: 330px;
  height: 400px;
  margin-left: 150px;
}

.ul_central{
  display: flex;
  flex-direction: column;
}

.title_ct{
  font-size: 30px;
  
}

.lightbox{
  margin: 100px 0px;
  background-color: #F9556E;
  color: white;
  text-align: center;
  border-radius: 20px;
  border: solid;
  border-color: #F9556E;
  font-size: 15px;
  padding: 10px 30px;
  transition-duration: 0.5s;
}

.lightbox:hover{
  background-color: white;
  color: #F9556E;
  border-color:  #F9556E;
}

.container_two{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 30px;
  background-color: #E8EFF6;
  line-height: 1.5;
}

.text_2{
  text-align: justify;
  line-height: 1.5;
  
}
.img_menu_2{
  float: right;
  width: 330px;
  height: 400px;
}

.ul_ct{
  display: flex;
  flex-direction: column;
}

.terms{
  background-color: #F9556E;
  color: white;
  text-align: center;
  border-radius: 20px;
  border: solid;
  border-color: #F9556E;
  font-size: 15px;
  padding: 10px 30px;
  transition-duration: 0.5s;
}

.terms:hover{ 
  background-color: white;
  color: #F9556E;
  border-color:  #F9556E;
}

.privacy{
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 20px;
  border: solid;
  border-color: black;
  font-size: 15px;
  padding: 10px 30px;
  transition-duration: 0.5s;
}